<!-- src/main/resources/templates/contact.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LMS</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Contact Page</title>
</head>

<body>

    <!-- Include Header Fragment -->
    <div th:replace="~{fragments/header}"></div>

    <main class="mt-12 w-full bg-blue-100 px-[5%] py-8 min-h-screen">
        <div class="space-y-2">
            <h3 th:text="${course.name}" class="text-3xl underline font-bold uppercase">Course name</h3>
            <p class="">
                By:
                <span th:text="${course.professor.user.username}" class="">Course name</span>
            </p>
        </div>
        <div>
            <h4 class="text-2xl font-semibold mt-10 py-4">Notes</h4>
            <ol class="flex flex-col gap-4 list-decimal">
                <li th:each="note, iterStat : ${notes}" class="p-2 bg-white bg-blue-100">
                    <a th:href="@{'/student/download/' + ${note.id}}" th:text="${note.description}">
                        Notes
                    </a>
                </li>
            </ol>

        </div>
    </main>
    <!-- Include Footer Fragment -->
    <div th:replace="~{fragments/footer}"></div>

</body>

</html>