<!-- src/main/resources/templates/contact.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LMS</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Contact Page</title>
</head>

<body>

    <!-- Include Header Fragment -->
    <div th:replace="~{fragments/header}"></div>

    <main class="mt-12 w-full flex">
        <div th:replace="~{fragments/sidebar}"></div>
        <div class="flex-grow p-4">

            <h1 class="text-xl font-bold">Professor</h1>
            <table class="table-auto w-full bg-blue-100">
                <thead class="bg-blue-300 text-white">
                    <tr>
                        <th class="p-4 text-left">#</th>
                        <th class="p-4 text-left">Username</th>
                        <th class="p-4 text-left">Email</th>
                        <th class="p-4 text-left">Grade</th>
                        <th class="p-4 text-left">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="professor, iterStat : ${professors}">
                        <td class="p-4" th:text="${iterStat.index + 1}">1</td>
                        <td class="p-4" th:text="${professor.user.username}">Username</td>
                        <td class="p-4" th:text="${professor.user.email}">Email</td>
                        <td class="p-4" th:text="${professor.grade}">Grade</td>
                        <td class="p-4">
                            <!-- Delete Form -->
                            <form th:action="@{/admin/professors/{id}(id=${professor.id})}" method="post">
                                <input type="hidden" name="_method" value="delete" />
                                <button type="submit" class="bg-red-500 text-white px-4 py-2 rounded">Delete</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
            
            

            <form th:object="${professorForm}" action="/admin/addProfessor" method="post" class="flex flex-col gap-4 mt-10 mx-auto max-w-[500px]">
                <h3 class="text-3xl font-bold ">Add New Professor</h3>

                <label class="flex flex-col gap-2">
                    <span class="font-semibold">username</span>
                    <input type="text" name="name" th:field="*{username}" class="border border-red-300 shadow p-3 w-full rounded"  >
                </label>

                <label class="flex flex-col gap-2">
                    <span class="font-semibold">Email</span>
                    <input type="email" name="email" th:field="*{email}" class="border border-red-300 shadow p-3 w-full rounded"  >
                </label>

                <label class="flex flex-col gap-2">
                    <span class="font-semibold">Password</span>
                    <input type="password" name="password" th:field="*{password}" class="border border-red-300 shadow p-3 w-full rounded"  >
                </label>

                <label class="flex flex-col gap-2">
                    <span class="font-semibold">Grade</span>
                    <input type="text" name="grade" th:field="*{grade}" class="border border-red-300 shadow p-3 w-full rounded"  >
                </label>

                <button class="bg-blue-700 px-4 py-2 rounded mx-auto text-white">Add Professor</button>
            </form>
        </div>
    </main>
    
    <!-- Include Footer Fragment -->
    <div th:replace="~{fragments/footer}"></div>

</body>

</html>