<aside class="w-64 bg-gray-800 text-white h-screen p-5 flex flex-col" th:fragment="sidebar">
    <nav class="flex-grow">
        <ul>
            <li class="mb-4">
                <a href="/admin/departments" class="block py-2 px-4 rounded hover:bg-gray-700">
                    Departments
                </a>
            </li>
            <li class="mb-4">
                <a href="/admin/professors" class="block py-2 px-4 rounded hover:bg-gray-700">
                    Professors
                </a>
            </li>
            <li class="mb-4">
                <a href="/admin/courses" class="block py-2 px-4 rounded hover:bg-gray-700">
                    Courses
                </a>
            </li>

            <li class="mb-4">
                <a href="/admin/students" class="block py-2 px-4 rounded hover:bg-gray-700">
                    Students
                </a>
            </li>
        </ul>
    </nav>
</aside>